<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gotye.meetplayer">

    <!-- Access to Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- MODIFY_AUDIO_SETTINGS is needed to use audio effects such as environmental reverb -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".MeetApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Activities -->
        <activity
            android:name=".activity.ClipListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FragmentMp4PlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PlaySohuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SohuVideoActivity"
            android:label="@string/title_activity_sohu_video" />
        <activity
            android:name=".activity.SohuEpisodeActivity"
            android:label="@string/title_activity_sohu_video" />
        <activity
            android:name=".activity.YoukuVideoActivity"
            android:label="@string/title_activity_youku_video" />
        <activity
            android:name=".activity.YoukuAlbumActivity"
            android:label="@string/title_activity_youku_video" />
        <activity
            android:name=".activity.YoukuEpisodeActivity"
            android:label="@string/title_activity_youku_video"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayYoukuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PlayIqiyiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.InkeActivity"
            android:label="@string/title_activity_inke_live"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InkePlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PPTVVideoActivity"
            android:label="@string/title_activity_pptv_video" />
        <activity
            android:name=".activity.PPTVEpisodeActivity"
            android:label="@string/title_activity_pptv_video"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PPTVLiveActivity"
            android:label="@string/title_activity_pptv_video" />
        <activity
            android:name=".activity.PPTVLiveCenterActivity"
            android:label="@string/title_activity_pptv_video" />
        <activity
            android:name=".activity.HttpViewerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PPTVPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MeetViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|layoutDirection"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:label="@string/app_name"
            android:process=":Player"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="video/*"
                    android:scheme="file" />
                <data
                    android:mimeType="video/*"
                    android:scheme="content" />
                <data
                    android:mimeType="video/*"
                    android:scheme="rtsp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
                <data
                    android:mimeType="video/*"
                    android:scheme="pplive2" />
                <data
                    android:mimeType="video/*"
                    android:scheme="ppvod" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtsp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="http" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="file" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gotye.crashhandler.SendCrashActivity"
            android:label="@string/title_activity_send_crash" />

        <!-- Services -->
        <service android:name=".service.DLNAService">
            <intent-filter>
                <action android:name="com.gotye.meetplayer.DLNAService" />
            </intent-filter>
        </service>
        <service android:name=".service.MyHttpService">
            <intent-filter>
                <action android:name="com.gotye.meetplayer.MyHttpService" />
            </intent-filter>
        </service>
        <service android:name=".service.MediaScannerService" />

        <!-- Receivers -->
        <receiver
            android:name=".service.MediaScannerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.gotye.action.MEDIA_MOUNTED" />
                <action android:name="com.gotye.action.MEDIA_SCANNER_SCAN_FILE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>